 <header class="header">
        <!-- Promo bar -->

        <div class="promo-bar">
            Sign up and get $10 discount <a href="#">Sign up</a>
        </div>

        <div class="header_top">

            <button class="menu-btn" type="button" aria-expanded="false" aria-controls="main-menu"
                aria-label="Open menu">
                <i class="fa-solid fa-bars"></i>
            </button>

            <!-- MUST be adjacent sibling of .menu-btn -->
            <div class="menu-tab" id="main-menu" role="menu" aria-hidden="true">
                <ul class="menu-list">
                    <li><a href="#">BEER</a></li>
                    <li><a href="#">SPIRITS</a></li>
                    <li><a href="#">WINE</a></li>
                    <li><a href="#">CIDER</a></li>
                    <li><a href="#">SPECIALITY</a></li>

                    <li class="menu_resource"><a href="#">RESOURCES</a></li>
                    <li class="menu_help"><a href="#">HELP CENTRE</a></li>
                </ul>
            </div>


            <!-- logo -->
            <a href="/" class="logo">
                <img src="./assets/img/MYO Drinks Logo LScape Blk.png" alt="">
            </a>



            <form class="search search--mobile">
                <button class="search_mode">
                    SEARCH <i class="fa-solid fa-chevron-down"></i>
                </button>
                <input type="search" class="search_input" placeholder="Find your perfect brew">
                <button class="search_btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                <div class="search_tab">
                    <ul class="search_list">
                        <li>BEER</li>
                        <li>SPIRITS</li>
                        <li>WINE</li>
                        <li>CIDER</li>
                        <li>SPECIALITY</li>

                    </ul>
                </div>
            </form>

            <!-- currency-->
            <button class="currency">
                $AUD <i class="fa-solid fa-chevron-down"></i>
            </button>
            <nav class="action">
                <a href="#"><i class="fa-regular fa-user"></i></a>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </nav>
        </div>

        <!-- nav header -->
        <div class="header_bot">
            <nav class="header-nav">
                <ul>
                    <li>BEER</li>
                    <li>SPIRITS</li>
                    <li>WINE</li>
                    <li>CIDER</li>
                    <li>SPECIALTY</li>
                    <li>DEALS</li>
                </ul>
            </nav>
            <a href="#" class="resources">RESOURCES</a>
        </div>
    </header>
    