@font-face {
  font-family: "Mango Grotesque";
  src: url("../fonts/mango_grotesque/MangoGrotesque-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mango Grotesque";
  src: url("../fonts/mango_grotesque/MangoGrotesque-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
